@import 'lib';

/** 引入字体 **/
@font-face {
	font-family: "my-icon";
	src: url('../fonts/icomoon.eot') format('eot');
	src: url('../fonts/icomoon.woff') format('woff'), 
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
}

h1,h2,h3,h4,h5,h6 {margin: 0;}
ul,li{margin: 0; padding: 0;}
html {height: 100%;}
body {
	font-family: sans-serif, "Microsoft Yahei", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica";
	position: relative;
	height: 100%;
	overflow: hidden;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
}
i{font-style: normal;}

$height: 60px; // 整个navbar高度
$txt_color: #fff; //icon色彩
$txt_color_grey: #636363; //主list偏灰色
#main_container {
	translate3d: (0, 0, 0);
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
		$bgcolor: #7dba57;
	//大导航
	.nav_bar {
		z-index: 999;
		position: absolute;
		width: 100%;
		padding-top: 20px;
		background-color: $bgcolor;
		height: $height;
		padding: 10px auto;
		h2 {
			font-weight: normal;
			font-size: 21px;
			position: absolute;
			@include abs-middle(-33px, -4px);
			color: $txt_color;
			height: 30px;
		}

		a {
			&.icon {color: $txt_color;}
			&.icon_list, &.icon_edit {
				font-size: 30px;
				padding: 15px;
				position: absolute;
				width: 30px;
				height: 30px;
			}
			&.icon_list {left:  0;}
			&.icon_edit {right: 0;}
		}
	}
	//大导航下部分
	ul.nav_bar_more {
		transition: linear 120ms;
		height: 50px; 
		display: table; 
		width: 100%; 
		text-align: center;
		z-index: 1;
	}
	.nav_bar_more {
		position: absolute;
		top: 100%;
		li  {display: table-cell; vertical-align: middle;}
		background: rgba(125, 186, 87, 0.8);
		color: $txt_color;
	}
	//记一笔钱
	section.account_addone {
		
		z-index: 2;
		background: #fff;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 100%;
		nav.nav_bar {
			padding-top: 20px;
		}
		// nav.nav_bar h2,nav.nav_bar a.icon_close {color: #8b8b8b;}
		a {
			&.icon {color: $txt_color;}
			&.icon_close {
				font-size: 35px;
    			padding: 12px;
				position: absolute;
				width: 30px;
				height: 30px;
			}
			&.icon_publish {
				position: absolute;
				line-height: 28px;
				width: 60px;
				height: 30px;
				padding: 15px 10px;
				i {
					display: inline-block;
					height: 30px;
					width: 60px;
					text-align: center;
					background: #E7FFE6;
					border-radius: 12px;
					color: #818181;
					font-size: 14px;
				}
			}
			&.icon_close {left:  0;}
			&.icon_publish {right: 0;}
		}
		.account_list {
			margin-top: 86px;
			padding: 0 10px;
			.account_list_icon {
				color: $txt_color_grey;
				display: inline-block;
				margin: 10px;
				@media (min-width: 321px) {
					margin: 16px;
				}
				i {
					color: #000;
					width: 100%;
					font-size: 14px;
					display: block;
					text-align: center;
					margin-top: 4px;
				}
			}
			span.icon {
				border-radius: 60px;
				display: block;
				width: 50px;
				height: 50px;
				font-size: 22px;
				line-height: 50px;
				color: #fff;
				text-align: center;
			}
			hr {
				margin: 6px;
				color: #EFEFEF;
				border: none;
				border-top: solid 1px;
			}
		}
		.account_input {
			position: absolute;
			bottom: -183px;
			width: 100%;
			.input_show {
				display: table;
				width: 100%;
				.icon {
					display: table-cell;
					font-size: 28px;
				}
				padding-left: 15px;
				color: #818181;
				line-height: 51px;
				background: #f8f8f8;
				border-top: 1px solid #DEDEDE;
				i, span.input_mount {
					display: table-cell;
					height: 51px;
					vertical-align: middle;
				}
				span.input_mount {
					width: 50%;
				}
				.input_mount:before{
					content: "¥ ";
				}
			}
		}
	}
}

#container {
	margin-top: 80px;
	height: 100%;
	position: relative;
	#slide_list {
		position: absolute;
		top: -80px;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	ul {
		padding-top: 80px;
		li:nth-child(2n+1) {background: #f2f2f2;}
		li {
			width: 100%;
			// line-height: 40px;
			display: table;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #F1F1F1;
			span {
				display: table-cell;
				vertical-align: middle;
				font-size: 18px;
				display: inline-block;
				&.icon {
					margin-left: 20px;
					color: $txt_color; 
					@include list-icon();
				}
				&.account_item_txt {
					color: $txt_color_grey;
					margin-left: 20px;
				}
				&.count {
					padding: 0 20px;
				}
			}
		}
		.account_item {
				position: relative;
				.account_edit.icon {
					position: absolute;
					top: 0;
					left: 100%;
					height: 100%;
					background: #D84F3E;
					line-height: 59px;
					text-align: center;
					font-size: 24px;
					color: #fff;
					width: 130px;
					border-bottom: 1px solid #D84F3E;
					i {
						display: inline-block;
						width: 60px;
						margin-left: -1px;
					}
				}
				
			}
	}
}

//icon类
.icon {
	-webkit-font-smoothing: antialiased;
	font-family: "my-icon";
	tap-highlight-color: transparent;
  	-webkit-tap-highlight-color: transparent;
	&.icon_green  {background: #93dcb7;}
	&.icon_orange {background: #f39f61;}
	&.icon_pink   {background: #fe8887;}
	&.icon_blue   {background: #6fb2de;}
	&.icon_red    {background: #d9594b;}
	&.icon_brown  {background: #c6b29c;}
	&.icon_yellow {background: #FDC300;}
}

//收入类
.add {
	color: #7dba57;
}
.minus {
	color: #db6b61;
}

//计算器样式
.calculator {
	display: block;
	width: 100%;
	overflow: hidden;
	background: #f8f8f8;
	color: #818181;
	i {
		font-size: 1.2rem;
		float: left;
		display: inline-block;
		margin-left: -2px;
		width: 25%;
		height: 45px;
	    line-height: 45px;
		text-align: center;
		border-top: 1px solid #DEDEDE;
		border-left: 1px solid #DEDEDE;
	}
}

//向左滑动的类
.swipeLeft {
	transform: translate3d(-130px, 0, 0);
}
.pageLeft {
	transform: translate3d(-100%, 0, 0);
}
.easeout {
	transition: ease-out 120ms;
}
.easein {
	transition: ease-in 120ms;
}
.easeout2 {
	transition: ease-out 200ms;
}
.easein2 {
	transition: ease-in 200ms;
}

.opacity0 {
	opacity: 0;
}
.opacity1 {
	opacity: 1;
}


.panelToTop {
	transform: translate3d(0, -183px, 0);
}