@import 'lib';

/** 引入字体 **/
@font-face {
	font-family: "my-icon";
	src: url('../fonts/icomoon.eot') format('eot');
	src: url('../fonts/icomoon.woff') format('woff'), 
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
}

h1,h2,h3,h4,h5,h6 {margin: 0;}
ul,li{margin: 0; padding: 0;}
body {
	font-family: "微软雅黑", "Microsoft-Yahei", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica";
	position: relative;
}
i{font-style: normal;}

$height: 60px; // 整个navbar高度
$txt_color: #fff; //icon色彩
$txt_color_grey: #636363; //主list偏灰色
#main_container {
	translate3d: (0, 0, 0);
	position: fixed;
	width: 100%;
	top: 0;
	height: 0;
		$bgcolor: #7dba57;
	//大导航
	.nav_bar {
		position: absolute;
		width: 100%;
		background-color: $bgcolor;
		height: $height;
		padding: 10px auto;
		h2 {
			font-weight: normal;
			font-size: 22px;
			position: absolute;
			@include abs-middle(-33px, -11px);
			color: $txt_color;
			height: 30px;
		}

		a {
			&.icon {color: $txt_color;}
			&.icon_list, &.icon_edit {
				font-size: 30px;
				padding: 15px;
				position: absolute;
				width: 30px;
				height: 30px;
			}
			&.icon_list {left:  0;}
			&.icon_edit {right: 0;}
		}
	}
	//大导航下部分
	ul.nav_bar_more {height: 50px; display: table; width: 100%; text-align: center;}
	.nav_bar_more {
		position: absolute;
		top: 100%;
		li  {display: table-cell; vertical-align: middle;}
		background: rgba(125, 186, 87, 0.8);
		color: $txt_color;
	}
	//记一笔钱
	section.account_addone {
		position: absolute;
		top: 0;
		width: 100%;
		nav.nav_bar {background: #f8f8f8;}
		nav.nav_bar h2,nav.nav_bar a.icon_close {color: #8b8b8b;}
		a {
			&.icon {color: $txt_color;}
			&.icon_close {
				font-size: 30px;
				padding: 15px;
				position: absolute;
				width: 30px;
				height: 30px;
			}
			&.icon_publish {
				position: absolute;
				line-height: 28px;
				width: 60px;
				height: 30px;
				padding: 15px;
				i {
					display: inline-block;
					height: 30px;
					width: 60px;
					text-align: center;
					background: #8ed498;
					border-radius: 12px;
				}
			}
			&.icon_close {left:  0;}
			&.icon_publish {right: 0;}
		}
		.account_list {
			margin-top: $height;
			.account_list_icon {
				color: $txt_color_grey;
				display: inline-block;
				margin: 10px;
				i {
					width: 100%;
					font-size: 16px;
					display: block;
					text-align: center;
					margin-top: 2px;
				}
			}
			span.icon {
				border-radius: 60px;
				display: block;
				width: 60px;
				height: 60px;
				font-size: 30px;
				line-height: 60px;
				color: #fff;
				text-align: center;
			}
			hr {
				margin: 0 6px;
				color: #d8d8d8;
				border: none;
				border-top: solid 1px;
			}
		}
	}
}

#container {
	margin-top: $height;
	ul {
		li:nth-child(2n+1) {background: #f2f2f2;}
		li {
			width: 100%;
			// line-height: 40px;
			display: table;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed #abbeae;
			span {
				display: table-cell;
				vertical-align: middle;
				font-size: 22px;
				display: inline-block;
				&.icon {
					margin-left: 20px;
					color: $txt_color; 
					@include list-icon();
				}
				&.account_item_txt {
					color: $txt_color_grey;
					margin-left: 20px;
				}
				&.count {
					padding: 0 20px;
				}
			}
		}
	}
}

//icon类
.icon {
	-webkit-font-smoothing: antialiased;
	font-family: "my-icon";
	tap-highlight-color: transparent;
  	-webkit-tap-highlight-color: transparent;
	&.icon_green  {background: #93dcb7;}
	&.icon_orange {background: #f39f61;}
	&.icon_pink   {background: #fe8887;}
	&.icon_blue   {background: #6fb2de;}
	&.icon_red    {background: #d9594b;}
	&.icon_brown  {background: #c6b29c;}
}

//收入类
.add {
	color: #7dba57;
}
.minus {
	color: #db6b61;
}

//计算器样式
.calculator {
	display: block;
	width: 100%;
	overflow: hidden;
	background: #eee;
	color: #818181;
	i {
		float: left;
		display: inline-block;
		margin-left: -2px;
		width: 25%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #ccc;
	}
}